name: Compile and Test

on: push

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        cache: 'yarn'
    - run: yarn install --frozen-lockfile # optional, --immutable
    - run: yarn tsc
    - run: yarn test